<!DOCTYPE html>
<html lang="en">

{{>head fontless=true main=true}}

<body class="main">

	<!-- layout -->
	<div class="root">		
		
		<!-- header -->
		{{>header brand="pion-clinician" active="Layanan"}}

		<!-- slider -->
		<section class="section cover service-cover">
			<div class="swiper-cover service-slider">
				<div class="cover-swiper swiper-wrapper">
					<div class="swiper-slide">
						<div class="cover-block">
							<div class="cover-content">
								<div class="cover-content-inline">
									<a href="https://wa.me/6281339999006" target="_blank">
										<img src="https://dev-asset.pionindonesia.com/images/button-contact-us.png" alt="pion">
									</a>
								</div>
							</div>
						</div>
						<div class="cover-asset" style="background-image: url(https://dev-asset.pionindonesia.com/images/banner/pion-pelatihan.png);"></div>
					</div>
					<div class="swiper-slide">
						<div class="cover-block">
							<div class="cover-content">
								<div class="cover-content-inline">
									<a href="https://www.youtube.com/watch?v=n-Z5edL84FQ&ab_channel=PIONClinician" target="_blank">
										<img src="https://dev-asset.pionindonesia.com/images/button-profile.png" alt="pion">
									</a>
									<a href="https://wa.me/6281339999006" target="_blank">
										<img src="https://dev-asset.pionindonesia.com/images/button-contact-us.png" alt="pion">
									</a>
								</div>
							</div>
						</div>
						<div class="cover-asset" style="background-image: url(https://dev-asset.pionindonesia.com/images/banner/pion-eap.png);"></div>
					</div>
					<div class="swiper-slide">
						<div class="cover-block">
							<div class="cover-content">
								<div class="cover-content-inline">
									<a href="https://wa.me/6281339999006" target="_blank">
										<img src="https://dev-asset.pionindonesia.com/images/button-request-meeting.png" alt="pion">
									</a>
									<a href="https://wa.me/6281339999006" target="_blank">
										<img src="https://dev-asset.pionindonesia.com/images/button-contact-us.png" alt="pion">
									</a>
								</div>
							</div>
						</div>
						<div class="cover-asset" style="background-image: url(https://old.pionindonesia.com/wp-content/uploads/2023/08/corp3_1920.jpg);"></div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</section>
		
		<!-- package -->
		<section class="section package service-package">
			<div class="board-row">

				<div class="package-page">
					<h1 class="title -medium">Layanan PION Clinician untuk Korporasi</h1>
					<!-- package package -->
					<div class="package-block">
						<div class="package-item package-bgyellow">
							<div class="package-asset">
								<img src="https://dev-asset.pionindonesia.com/images/corporate/eap.png" alt="">
							</div>
							<h2 class="package-title">EAP</h2>
							<div class="package-lead">
								<p>Memberikan dukungan, pengetahuan dan keterampilan kepada karyawan dalam mengatasi tantangan.</p>
							</div>
						</div>
						<div class="package-item package-bgyellow">
							<div class="package-asset">
								<img src="https://dev-asset.pionindonesia.com/images/corporate/asesmen-psikologis.png" alt="">
							</div>
							<h2 class="package-title">Assessment Center</h2>
							<div class="package-lead">
								<p>Menggali kompetensi individu untuk mengukur kompetensi yang dibutuhkan.</p>
							</div>
						</div>
						<div class="package-item package-bgyellow">
							<div class="package-asset">
								<img src="https://dev-asset.pionindonesia.com/images/corporate/training-development.png" alt="">
							</div>
							<h2 class="package-title">Training & Development</h2>
							<div class="package-lead">
								<p>Pelatihan profesional yang dirancang untuk menilai keterampilan, kesesuaian, dan kebutuhan perkembangan individu.</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>

		<!-- package -->
		<section class="section package service-package">
			<div class="board-row">
				<!-- issue -->
				<div class="issue-page">
					<div class="issue-block">
						<div class="issue-content">
							<h1 class="title -medium">Layanan EAP</h1>
							<ul class="issue-list">
								{{#each issue}}
								<li class="issue-item">
									<a href="javascript:openModal('issueModal-{{@index}}')" role="button" class="issue-button">
										<span>{{title}}</span> 
										<div class="issue-figure">
											<img src="./asset/images/issue/{{figure}}" alt="{{title}}">
										</div>
									</a>
								</li>

								<div class="modal-content -medium" data-modal-target="issueModal-{{@index}}" data-modal-bgclick="true">
									<div class="modal-header">
										{{!-- <div class="modal-title">{{!title}}</div> --}}
										<button class="button modal-dismiss" aria-label="Close" data-modal-button="dismiss">
											<i class="fa-solid fa-xmark"></i>
										</button>
									</div>
									<div class="modal-body">
										<div class="issue-popup-title">{{title}}</div>
										<div class="issue-popup">
											{{{content}}}
										</div>
									</div>
								</div>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- faq -->
		<section class="section service-faq">
			<div class="board-row">
				<div class="faq-block">
					<h1 class="title -medium">F.A.Q. PION Corporate Service</h1>
					<div class="faq-list">
						<div class="faq-item">
							<a href="#Walk-in-Appointment" class="faq-toggle accordion-toggle">
								<span>Prosedur Konseling</span>
								Perusahaan Saya Tertarik Untuk Melakukan Konseling, Bagaimana Prosedurnya?
								<div class="icon icon-arrow-down"></div>
							</a>
							<div class="accordion-content faq-content" id="Walk-in-Appointment">
								PION Clinician menyediakan ragam paket membership untuk layanan konseling perusahaan.
							</div>
						</div>
						<div class="faq-item">
							<a href="#Cara-Melakukan-Perjanjian" class="faq-toggle accordion-toggle">
								<span>Layanan Konseling</span>
								Layanan Konseling Apa Saja Yang Disediakan PION Clinician Untuk Perusahaan?
								<div class="icon icon-arrow-down"></div>
							</a>
							<div class="accordion-content faq-content" id="Cara-Melakukan-Perjanjian">
								<p>Saat ini PION Clinician memprovide</p>
									<ol>
										<li>Layanan konseling online dengan format video konseling, menggunakan platform zoom atau google meet ; dan</li>
										<li>Layanan konseling tatap muka yang dapat dilaksanakan di perusahaan Anda atau di klinik PION Clinician di Cilandak, Jakarta Selatan.</li>
										</ol>
								</div>
						</div>
						<div class="faq-item">
							<a href="#Jenis-Layanan-yang-Diberikan" class="faq-toggle accordion-toggle">
								<span>Sesi Konseling</span>
								Apakah Saya Dapat Langsung Mendatangi Klinik PION Clinician Untuk Melakukan Sesi Konseling Tatap Muka ?
								<div class="icon icon-arrow-down"></div>
							</a>
							<div class="accordion-content faq-content" id="Jenis-Layanan-yang-Diberikan">
								Saat ini semua layanan dilakukan dengan perjanjian terlebih dahulu. Anda dapat mengisi pendaftaran dan membuat perjanjian 2 hari sebelumnya.
							</div>
						</div>
						<div class="faq-item">
							<a href="#Biaya-layanan" class="faq-toggle accordion-toggle">
								<span>Layanan Konseling</span>
								Apakah PION Clinician Menyediakan Konseling Dengan Psikolog Dalam Bahasa Inggris?
								<div class="icon icon-arrow-down"></div>
							</a>
							<div class="accordion-content faq-content" id="Biaya-layanan">
								Anda tidak perlu khawatir, PION Clinician menyediakan layanan konseling dengan psikolog berbahasa indonesia dan berbahasa inggris.
							</div>
						</div>
						<div class="faq-item">
							<a href="#Biaya-layanan" class="faq-toggle accordion-toggle">
								<span>Layanan Konseling</span>
								Saya Belum Pernah Melakukan Konsultasi Dengan Psikolog, Berapa Durasi Untuk 1 Kali Sesi Konsultasi?
								<div class="icon icon-arrow-down"></div>
							</a>
							<div class="accordion-content faq-content" id="Biaya-layanan">
								Durasi untuk 1 kali sesi konsultasi dengan psikolog yakni 60 menit.
							</div>
						</div>
						<div class="faq-item">
							<a href="#Biaya-layanan" class="faq-toggle accordion-toggle">
								<span>Biaya layanan</span>
								Berapakah Biaya Untuk 1 Kali Sesi Konseling Dengan Psikolog ?
								<div class="icon icon-arrow-down"></div>
							</a>
							<div class="accordion-content faq-content" id="Biaya-layanan">
								Untuk biaya 1 kali sesi konseling akan dibebankan kepada perusahaan Anda. Sangat bergantung pada paket membership yang Perusahaan Anda pilih.
							</div>
						</div>
						<div class="faq-item">
							<a href="#Biaya-layanan" class="faq-toggle accordion-toggle">
								<span>Seminar / Webinar</span>
								Perusahaan Saya Tertarik Untuk Melakukan Seminar Atau Webinar, Bagaimana Prosedurnya?
								<div class="icon icon-arrow-down"></div>
							</a>
							<div class="accordion-content faq-content" id="Biaya-layanan">
								PION Clinician menyediakan layanan seminar atau webinar yang disesuaikan dengan kebutuhan perusahaan. Untuk info lebih lanjut, Anda dapat menghubungi  PION Clinician
							</div>
						</div>
						<div class="faq-item">
							<a href="#Biaya-layanan" class="faq-toggle accordion-toggle">
								<span>Seminar / Webinar</span>
								Apa Perbedaan Seminar Dan Webinar?
								<div class="icon icon-arrow-down"></div>
							</a>
							<div class="accordion-content faq-content" id="Biaya-layanan">
								Seminar dan webinar dengan tujuan edukasi & pembekalan kecakapan, peserta dapat menikmati pembelajaran yang disediakan oleh Psikolog. Perbedaannya yakni a) Seminar dilaksanakan secara tatap muka ; b) Webinar atau Web Seminar dilaksanakan secara online melalui platform tertentu sesuai kesepakatan dengan perusahaan Anda (Misal : zoom app, google meet, microsoft teams, dkk)
							</div>
						</div>
						<div class="faq-item">
							<a href="#Biaya-layanan" class="faq-toggle accordion-toggle">
								<span>Seminar / Webinar</span>
								Apakah Ada Maksimal Peserta Untuk Seminar Dan Webinar?
								<div class="icon icon-arrow-down"></div>
							</a>
							<div class="accordion-content faq-content" id="Biaya-layanan">
								Tidak ada maksimal jumlah peserta tetapi peserta perlu melakukan pendaftaran sebelumnya
							</div>
						</div>
						<div class="faq-item">
							<a href="#Biaya-layanan" class="faq-toggle accordion-toggle">
								<span>Seminar / Webinar</span>
								Berapa Lama Durasi Untuk Seminar Dan Webinar ?
								<div class="icon icon-arrow-down"></div>
							</a>
							<div class="accordion-content faq-content" id="Biaya-layanan">
								Durasi adalah 1 jam 30 menit (plus perpanjangan waktu 30 menit jika ada banyak pertanyaan dari para peserta)
							</div>
						</div>
						<div class="faq-item">
							<a href="#Biaya-layanan" class="faq-toggle accordion-toggle">
								<span>Seminar / Webinar</span>
								Apakah PION Clinician Menyediakan Seminar Dan Webinar Dalam Bahasa Inggris?
								<div class="icon icon-arrow-down"></div>
							</a>
							<div class="accordion-content faq-content" id="Biaya-layanan">
								PION Clinician memiliki layanan terpersonalisasi yang dapat disesuaikan dengan kebutuhan perusahaan Anda. Kami menyediakan seminar dan webinar dalam bahasa indonesia maupun bahasa inggris
							</div>
						</div>
						<div class="faq-item">
							<a href="#Biaya-layanan" class="faq-toggle accordion-toggle">
								<span>Seminar / Webinar</span>
								Apakah Tema Seminar Dan Webinar Disediakan Oleh PION Clinician?
								<div class="icon icon-arrow-down"></div>
							</a>
							<div class="accordion-content faq-content" id="Biaya-layanan">
								PION Clinician memiliki pilihan tema yang telah tersedia, namun tema dapat di-request. Tema dapat direquest oleh klien dengan menginfokan paling cepat 3 minggu sebelum event.
							</div>
						</div>
						<div class="faq-item">
							<a href="#Biaya-layanan" class="faq-toggle accordion-toggle">
								<span>Biaya Seminar / Webinar</span>
								Berapakah Biaya Untuk 1 Kali Seminar Atau Webinar ?
								<div class="icon icon-arrow-down"></div>
							</a>
							<div class="accordion-content faq-content" id="Biaya-layanan">
								Untuk biaya 1 kali seminar atau webinar beragam, biaya tergantung dengan pada keahlian dan pengalaman dari para ahli.
							</div>
						</div>
						<div class="faq-item">
							<a href="#Biaya-layanan" class="faq-toggle accordion-toggle">
								<span>Support Group</span>
								Perusahaan Saya Tertarik Untuk Melakukan Support Group, Bagaimana Prosedurnya?
								<div class="icon icon-arrow-down"></div>
							</a>
							<div class="accordion-content faq-content" id="Biaya-layanan">
								PION Clinician menyediakan layanan support group yang disesuaikan dengan kebutuhan perusahaan. Untuk info lebih lanjut, Anda dapat menghubungi  PION Clinician
							</div>
						</div>
						<div class="faq-item">
							<a href="#Biaya-layanan" class="faq-toggle accordion-toggle">
								<span>Support Group</span>
								Apa Itu Layanan Support Group?
								<div class="icon icon-arrow-down"></div>
							</a>
							<div class="accordion-content faq-content" id="Biaya-layanan">
								Support Group atau Grup Pendukung merupakan Seminar interaktif dengan maksimal peserta 20 orang dengan tujuan awareness dan enrichment.
							</div>
						</div>
						<div class="faq-item">
							<a href="#Biaya-layanan" class="faq-toggle accordion-toggle">
								<span>Support Group</span>
								Layanan Support Group Apa Saja Yang Disediakan PION Clinician Untuk Perusahaan ?
								<div class="icon icon-arrow-down"></div>
							</a>
							<div class="accordion-content faq-content" id="Biaya-layanan">
								Support group dapat dilakukan secara a) tatap muka ; b) secara online melalui platform tertentu sesuai kesepakatan dengan perusahaan Anda (Misal : zoom app, google meet, microsoft teams, dkk)
							</div>
						</div>
						<div class="faq-item">
							<a href="#Biaya-layanan" class="faq-toggle accordion-toggle">
								<span>Layanan Support Group</span>
								Berapa Lama Durasi Untuk Support Group ?
								<div class="icon icon-arrow-down"></div>
							</a>
							<div class="accordion-content faq-content" id="Biaya-layanan">
								Durasi adalah 1 jam 30 menit
							</div>
						</div>
						<div class="faq-item">
							<a href="#Biaya-layanan" class="faq-toggle accordion-toggle">
								<span>Layanan Support Group</span>
								Apakah PION Clinician Menyediakan Support Group Dalam Bahasa Inggris?
								<div class="icon icon-arrow-down"></div>
							</a>
							<div class="accordion-content faq-content" id="Biaya-layanan">
								PION Clinician memiliki layanan terpersonalisasi yang dapat disesuaikan dengan kebutuhan perusahaan Anda. Kami menyediakansupport group dalam bahasa indonesia maupun bahasa inggris
							</div>
						</div>
						<div class="faq-item">
							<a href="#Biaya-layanan" class="faq-toggle accordion-toggle">
								<span>Layanan Support Group</span>
								Apakah Topik Support Group Disediakan Oleh PION Clinician ?
								<div class="icon icon-arrow-down"></div>
							</a>
							<div class="accordion-content faq-content" id="Biaya-layanan">
								Topik psikologis seputar isu yang diminati oleh para peserta atau dapat dipilihkan oleh perusahaan Anda. Pada support group, para peserta diberikan kesempatan untuk bertanya dan berbagi di forum kelompok. Ahli juga dapat melakukan kegiatan interaktif yang dapat memberikan pengayaan pada peserta.
							</div>
						</div>
						<div class="faq-item">
							<a href="#Biaya-layanan" class="faq-toggle accordion-toggle">
								<span>Biaya Support Group</span>
								Berapakah Biaya Untuk 1 Kali Support Group ?
								<div class="icon icon-arrow-down"></div>
							</a>
							<div class="accordion-content faq-content" id="Biaya-layanan">
								Untuk biaya 1 kali support group beragam, biaya tergantung dengan pada keahlian dan pengalaman dari para ahli.
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- footer -->
		{{>footer brand="pion-clinician"}}

	</div>

{{>js}}
</body>
</html>
