<div class="form-row{{#eq nolabel compare="true"}}{{else}} form-input{{/eq}}{{#if inline}} form-inline{{/if}}{{#if typeFile}} form-file{{/if}}"{{#if parent}} id="{{parent}}"{{/if}}{{#if typeFile}} data-placeholder="{{placeholder}}"{{/if}}>
	{{#eq nolabel compare="true"}}
	{{else}}
	<label for="{{name}}">{{label}}</label>
	{{/eq}}
	{{#if txterror}}
	<div class="form-error">{{{txterror}}}</div>
	{{/if}}
	{{#eq type compare="url"}}
	{{!-- <span class="form-url-preview">
		<img src="" alt="">
	</span> --}}
	{{/eq}}
	<input type="{{type}}" id="{{name}}" name="{{name}}" class="{{#if txterror}}error{{/if}}{{#if function}} {{function}}{{/if}}" placeholder="{{placeholder}}"{{#eq required compare="true"}} required="required"{{/eq}}{{#if autocomplete}} autocomplete="{{autocomplete}}"{{/if}}{{#eq disabled compare="true"}} disabled="disabled"{{/eq}}{{#eq readonly compare="true"}} readonly="readonly"{{/eq}}{{#if txtVal}} value="{{txtVal}}"{{/if}}{{#if onchange}} onchange="{{onchange}}"{{/if}}>
	{{#if whatsapp}}
	<div class="form-inline-footnote">
		<input type="checkbox" id="{{whatsapp}}" name="{{whatsapp}}" value=""> <label for="{{whatsapp}}">Send OTP via <span class="color-whatsapp"><i class="fa-brands fa-whatsapp"></i> WhatsApp</span></label>
	</div>
	{{/if}}
	{{#if icon}}
	<button type="button" class="form-{{icon}} js-{{icon}}">
		<span class="icon icon-{{icon}}"></span>
	</button>
	{{/if}}
	{{#if txthint}}
	<div class="form-hint">{{{txthint}}}</div>
	{{/if}}
</div>
