<div class="form-row form-input">
    <div class="form-radio">
        <input type="radio" name="{{name}}" id="{{id}}" value="" {{#eq disabled compare="true" }} disabled="disabled"
            {{/eq}}{{#eq readonly compare="true" }} readonly="readonly" {{/eq}}{{#eq checked compare="true" }}
            checked="checked" {{/eq}}{{#if toggle}} data-target="{{toggle}}"{{/if}}>
        <label for="{{id}}">
            {{#if label}}
            {{{label}}}
            {{/if}}
        </label>
    </div>
</div>
