<div class="form-row form-input">
    <div class="form-radio">
        <input type="{{#if multiple}}checkbox{{else}}radio{{/if}}" name="{{name}}" id="{{id}}" value="{{value}}" {{#eq disabled compare="true" }} disabled="disabled"
            {{/eq}}{{#eq readonly compare="true" }} readonly="readonly" {{/eq}}{{#eq checked compare="true" }}
            checked="checked" {{/eq}}{{#if toggle}} data-target="{{toggle}}"{{/if}}{{#if sorting}} data-sort="{{sorting}}"{{/if}}>
        <label for="{{id}}"{{#if tooltip}} data-tooltip="{{tooltip_dir}}" aria-label="{{tooltip}}"{{/if}}>
            {{#if label}}
            {{{label}}}
            {{/if}}
        </label>
    </div>
</div>
