<div class="sdeviceList">

  <div class="sdeviceItem -arrowr">
    <a href="setting-device-detail.html?kompasplus={{#if kompasplus}}true{{else}}false{{/if}}">
      <div class="sdeviceItem-inner">
        <div class="sdeviceItem-device">
          <div class="iconDevice --device_desktop"></div>
        </div>
        <div class="sdeviceItem-content">
          <div class="sdeviceItem-title">Windows 7 <span>(Google Chrome)</span></div>
          <div class="sdeviceItem-activity"><span class="currentActive"></span> Perangkat saat ini</div>
          <div class="sdeviceItem-fitur">
            Fitur: <span>-</span>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="sdeviceItem -arrowr">
    <a href="setting-device-detail.html?kompasplus={{#if kompasplus}}true{{else}}false{{/if}}">
      <div class="sdeviceItem-inner">
        <div class="sdeviceItem-device">
          <div class="iconDevice --device_mobile"></div>
        </div>
        <div class="sdeviceItem-content">
          <div class="sdeviceItem-title">Samsung S22 Ultra <span>(Samsung S22 Ultra )</span></div>
          <div class="sdeviceItem-activity">Aktif 1 menit lalu</div>
          <div class="sdeviceItem-fitur">
            Fitur: {{#if kompasplus}}<span>Kompas.com+</span>{{else}}-{{/if}}
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="sdeviceItem -arrowr">
    <a href="setting-device-detail.html?kompasplus={{#if kompasplus}}true{{else}}false{{/if}}">
      <div class="sdeviceItem-inner">
        <div class="sdeviceItem-device">
          <div class="iconDevice --device_desktop"></div>
        </div>
        <div class="sdeviceItem-content">
          <div class="sdeviceItem-title">Windows 7 <span>(Google Chrome)</span></div>
          <div class="sdeviceItem-activity">Aktif 32 menit lalu</div>
          <div class="sdeviceItem-fitur">
            Fitur: {{#if kompasplus}}<span>Kompas.com+</span>{{else}}-{{/if}}
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="sdeviceItem -arrowr">
    <a href="setting-device-detail.html?kompasplus={{#if kompasplus}}true{{else}}false{{/if}}">
      <div class="sdeviceItem-inner">
        <div class="sdeviceItem-device">
          <div class="iconDevice --device_desktop"></div>
        </div>
        <div class="sdeviceItem-content">
          <div class="sdeviceItem-title">Windows 7 <span>(Google Chrome)</span></div>
          <div class="sdeviceItem-activity">Aktif 2 jam lalu</div>
          <div class="sdeviceItem-fitur">
            Fitur: {{#if kompasplus}}<span>Kompas.com+</span>{{else}}-{{/if}}
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="sdeviceItem -arrowr">
    <a href="setting-device-detail.html?kompasplus={{#if kompasplus}}true{{else}}false{{/if}}">
      <div class="sdeviceItem-inner">
        <div class="sdeviceItem-device">
          <div class="iconDevice --device_desktop"></div>
        </div>
        <div class="sdeviceItem-content">
          <div class="sdeviceItem-title">Windows 7 <span>(Google Chrome)</span></div>
          <div class="sdeviceItem-activity">Aktif 2 jam lalu</div>
          <div class="sdeviceItem-fitur">
            Fitur: {{#if kompasplus}}<span>Kompas.com+</span>{{else}}-{{/if}}
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="sdeviceItem -arrowr">
    <a href="setting-device-detail.html?kompasplus={{#if kompasplus}}true{{else}}false{{/if}}">
      <div class="sdeviceItem-inner">
        <div class="sdeviceItem-device">
          <div class="iconDevice --device_desktop"></div>
        </div>
        <div class="sdeviceItem-content">
          <div class="sdeviceItem-title">Windows 7 <span>(Google Chrome)</span></div>
          <div class="sdeviceItem-activity">Aktif 2 jam lalu</div>
          <div class="sdeviceItem-fitur">
            Fitur: {{#if kompasplus}}<span>Kompas.com+</span>{{else}}-{{/if}}
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="sdeviceItem -arrowr">
    <a href="setting-device-detail.html?kompasplus={{#if kompasplus}}true{{else}}false{{/if}}">
      <div class="sdeviceItem-inner">
        <div class="sdeviceItem-device">
          <div class="iconDevice --device_desktop"></div>
        </div>
        <div class="sdeviceItem-content">
          <div class="sdeviceItem-title">Windows 7 <span>(Google Chrome)</span></div>
          <div class="sdeviceItem-activity">Aktif 2 jam lalu</div>
          <div class="sdeviceItem-fitur">
            Fitur: {{#if kompasplus}}<span>Kompas.com+</span>{{else}}-{{/if}}
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="sdeviceItem -arrowr">
    <a href="setting-device-detail.html?kompasplus={{#if kompasplus}}true{{else}}false{{/if}}">
      <div class="sdeviceItem-inner">
        <div class="sdeviceItem-device">
          <div class="iconDevice --device_desktop"></div>
        </div>
        <div class="sdeviceItem-content">
          <div class="sdeviceItem-title">Windows 7 <span>(Google Chrome)</span></div>
          <div class="sdeviceItem-activity">Aktif 2 jam lalu</div>
          <div class="sdeviceItem-fitur">
            Fitur: {{#if kompasplus}}<span>Kompas.com+</span>{{else}}-{{/if}}
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="sdeviceItem -arrowr">
    <a href="setting-device-detail.html?kompasplus={{#if kompasplus}}true{{else}}false{{/if}}">
      <div class="sdeviceItem-inner">
        <div class="sdeviceItem-device">
          <div class="iconDevice --device_desktop"></div>
        </div>
        <div class="sdeviceItem-content">
          <div class="sdeviceItem-title">Windows 7 <span>(Google Chrome)</span></div>
          <div class="sdeviceItem-activity">Aktif 2 jam lalu</div>
          <div class="sdeviceItem-fitur">
            Fitur: {{#if kompasplus}}<span>Kompas.com+</span>{{else}}-{{/if}}
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="sdeviceItem -arrowr">
    <a href="setting-device-detail.html?kompasplus={{#if kompasplus}}true{{else}}false{{/if}}">
      <div class="sdeviceItem-inner">
        <div class="sdeviceItem-device">
          <div class="iconDevice --device_desktop"></div>
        </div>
        <div class="sdeviceItem-content">
          <div class="sdeviceItem-title">Windows 7 <span>(Google Chrome)</span></div>
          <div class="sdeviceItem-activity">Aktif 2 jam lalu</div>
          <div class="sdeviceItem-fitur">
            Fitur: <span>Kompas.com+</span>
          </div>
        </div>
      </div>
    </a>
  </div>

</div>